.App {
  text-align: center;
  max-width: 100vw;
  height: 100%;
  width: 100%;
}

.matchScore{
  display:flex;
  box-sizing:border-box;
  justify-content:center;
  background-image:  linear-gradient(135deg, #004b00d6, black, #cb0000);
  color: white;
  font-size: larger;
  height: 50px;
  margin-bottom: 20px;
 
}

.matchScore img{
    height: 100%;
  }

.playerCard{
  display: flex;
  align-items: center;
  background-color: grey;
  color: white;
  margin: 10px 0px;
  font-size: 1.2em;
  width: 75%;
}

.playerCard .playerLevel{
  outline: 3px solid black;
  border-radius: 50%;
  margin: 0px 10px;
  padding: 10px;
}

.playerCard .playerName{
  width: 15%;
}

.playerCard .playerItems{
  display: flex;
  width: 30%;
}

.playerCard .playerItems img{
  width: 15%;
  height: 100%;
}

.playerCard .playerStats{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.playerCard .playerStats img{
  margin-left: 10px;
}


/* .playerCardTest{
  background-color: grey;
  color: white;
  margin: 10px 0px;
  font-size: 1.2em;
  width: 75%;
} */

.scoreBoardTable{
  border-collapse: collapse;
  background-color: grey;
  font-size: 1.2em;
  color: white;
  width: 95%;
  table-layout: fixed;
}

.scoreBoardTable .playerLevel{
  /* outline: 3px solid black;
  border-radius: 50%;
  margin: 0px 10px; */
  padding-left: 10px;
}

.scoreBoardTable .playerName{
display: flex;
align-items: center;
}

.textOverflow{
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
width: 100%;
}

.scoreBoardTable .playerName img{
margin-right: 20px;
}

.scoreBoardTable .playerItems img{
  width: 15%;
}

.scoreBoardTable th{
text-align: left;
padding-right: 10px;
}

.scoreBoardTable td{
padding-right: 10px;
text-align: left;
}

.chart {
  width: 400px;
}

.line-graph {
  width: 100%;
  height: auto;
}

.axis {
  stroke: #aaa;
  stroke-width: 2;
}

.graph-line {
  fill: none;
  stroke: #4f46e5;
  stroke-width: 3;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: draw 2s ease-out forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.containerTest {
  position: relative;
    height: 40px;
    width: 100%;
    margin-right: 0px;
    z-index: 0;
}

.playerHeader{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* margin: 0px 15px; */
}

.embeddedVideo{
display: flex;
justify-content: center;
}

.darkModeButton{
  position: absolute;
  right: 0;
  top: -20px
}

.darkModeButtonEnabled{
  position: absolute;
  right: 0;
  top: -20px;
  background-color:#18181b;
  color: #efeff1;
}


.containerBanTest {
    position: absolute;
    z-index: 1;
    left: -2px;
    right: -3px;
    top: 18px;
    border-top: 2px solid rgb(255, 76, 76);
    transform: rotate(330deg);
}

.pickBanRadiant{
  position: absolute;
  top: -15px;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 15px solid green
}
.pickBanDire{
  position: absolute;
  bottom: -11px;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 15px solid red;
}

.single-chart{
  display: contents;
}

.circular-chart {
  display: block;
  margin: 5px auto;
  max-width: 60%;
  max-height: 250px;
}


.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

.circular-chart .circle {
  fill: none;
  stroke: #4caf50;
  stroke-width: 2.8;
  stroke-linecap: round;
  transform-origin: 50% 50%;
  transition: stroke-dashoffset 1.8s ease-out;
   will-change: stroke-dashoffset
}

.circular-chart .circle-bg {
  fill: none;
  stroke: #e90505;
  stroke-width: 2.8;
}

.careerStats{
  border: 2px solid black;
  padding: 5px;
  border-radius: 0 0 5px 5px;
  width: 500px;
}

.careerStats caption{
  border: 2px solid black;
  border-radius: 5px 5px 0 0;
  border-bottom: 0;
}