.App {
  text-align: center;
  max-width: 100vw;
  height: 100%;
  width: 100%;
}

.playerCard{
  display: flex;
  align-items: center;
  background-color: grey;
  color: white;
  margin: 10px 0px;
  font-size: 1.2em;
  width: 75%;
}

.playerCard .playerLevel{
  outline: 3px solid black;
  border-radius: 50%;
  margin: 0px 10px;
  padding: 10px;
}

.playerCard .playerName{
  width: 15%;
}

.playerCard .playerItems{
  display: flex;
  width: 30%;
}

.playerCard .playerItems img{
  width: 15%;
  height: 100%;
}

.playerCard .playerStats{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.playerCard .playerStats img{
  margin-left: 10px;
}